*:focus {
  outline: none;
}

.input-wrapper {
  margin: 10px;
}

.input-field {
  width: 200px;
  height: 30px;
}

.button {
  width: 200px;
  height: 30px;
}

.container {
  text-align: center;
}

.button-login {
  padding: 10px 20px;
  background-color: transparent;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -25px;
}
.main-page-banner, .restaurant-page-banner {
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_0DhbTUUbfFu6Sc2edTyOcPvgV6BdP94fnw&s"); */
  /* background-color: rgb(0, 0, 0, 0.6); */
  background-blend-mode: multiply;
  padding: 30px;
  height: 230px;
  color: #fff;
  text-align: center;
}

.main-page-banner .input-wrapper {
  background-color: white;
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
  margin: auto;
  width: 65%;
  position: relative; /* Ensure position relative to align the dropdown */
}

.main-page-banner .select-input {
  height: 40px;
  border: none;
  width: 25%;
  padding-left: 15px;
}

.main-page-banner .search-input {
  height: 40px;
  border: none;
  width: 30%;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.location-list {
  color: #000;
  list-style-type: none;
  text-align: left;
  position: absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  top: 45px; /* Adjust based on your design to position correctly under input */
  left: 0;
  width: 47.5%;
  z-index: 1000;
  margin-top: 8px; /* Ensure it appears above other elements */
}

.location-list li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}


.restaurant-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 50px;
}

.restaurant-wrapper{
  background-image: none;
  width:  45%;
  background-color: rgb(173, 189, 232);
  margin: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}
.restaurant-wrapper .heading-wrapper, .address-wrapper{
padding-left: 15px;
display: flex;
justify-content: flex-start;
}

.restaurant-wrapper h5{
  margin-left: 15px;
}

.restaurant-page-banner h1{
  font-size: 65px;
}

.restro-detail-wrapper {
  margin-top: 139px;
  display: flex;
  background-color: green;
}

.restro-detail-wrapper h3 {
  width: 50%;
}

.food-item-wrapper h3{
  margin-top: 50px;
  margin-bottom: 50px;

}
.food-item-wrapper .food-list-item{
  padding: 20px;
  color:  orange;
  font-weight: bold;
  border-bottom: 1px solid orange;
  display:  flex;
  text-transform: capitalize;

}
.food-item-wrapper .food-list-item button {
  color: white;
  border: none;
  width: 163px;
  background-color: orange;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 7px;
}

.food-item-wrapper .food-list-item .description{
  font-weight: lighter;
}

.list-item-block2{
  width: 80%;
}

.total-wrapper{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid orange;
  padding-bottom: 20px;

}

.total-wrapper .row{
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  color: orange;
  font-size: 20px;
  font-weight: bold;
}
.total-wrapper .block-1{
  width: 70%;

}

.total-wrapper .block-2{
  width: 30%;

}
.total-wrapper .block-2 button{
  padding: 10px 25px;
  border: navajowhite;
  background-color: orange;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}